#form {
    padding: 5rem 0 10rem;
  .login {
    .header {
      h2 {
        font-size: 35px;
        line-height: 1.4;
        font-weight: 500;
        color: #252525;
        margin-bottom: 0.5rem;
      }
    }
    form{
        border: 1px solid #e2e2e2;
        padding: 1rem;
        p{
            margin-top: 20px;
        }
        a{
            color: #1696e7;
            line-height: 1.8;
            font-size: 15px;
            font-weight: 400;
            
        }
        button{
            padding: 17px 25px;
            color: #fff;
            border-radius: 4px;
            background-color: #ff6000;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            cursor: pointer;
            border: none;
            margin-right: 10px;
        }
        label{
            color: #2b2b2b;
            margin-bottom: 10px;
            line-height: 1;
            font-weight: 500;
            font-size: 12px;
            cursor: pointer;
            
            span{
             color: red;
            }
       }
       #psw,#email{
        width: 100%;
        outline: none;
        height: 50px;
        padding: 16px 20px 17px;
        color: #7d7d7d;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 40px;
       }
    }
  }
  .register{
    .header {
        h2 {
          font-size: 35px;
          line-height: 1.4;
          font-weight: 500;
          color: #252525;
          margin-bottom: 0.5rem;
        }
      }
      form{
        border: 1px solid #e2e2e2;
        padding: 1rem;
        span{
            display: block;
            line-height: 1.8;
            font-size: 15px;
            color: #7d7d7d;
            font-weight: 400;
        }
        button{
            padding: 17px 25px;
            color: #fff;
            border-radius: 4px;
            background-color: #ff6000;
            text-align: center;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            cursor: pointer;
            border: none;
            margin-right: 10px;
            margin-top: 35px;
        }
      }
      label{
        color: #2b2b2b;
            margin-bottom: 10px;
            line-height: 1;
            font-weight: 500;
            font-size: 12px;
            cursor: pointer;
            
            span{
             color: red;
            }

      }
      input{
        width: 100%;
        outline: none;
        height: 50px;
        padding: 16px 20px 17px;
        color: #7d7d7d;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 40px;
      }
  }

}
.siderbar{
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2rem 0;
  background-color: #202020;
  .head{
    padding: 2rem 0;
    i{
      color: #fff;
      font-size: 25px;
      cursor: pointer;
    }
  }
  .path{
    a{
      border-radius: 5px;
      color: #fff;
      background-color: #252525;
      padding: 5px 15px;
      &:hover{
        background-color: #373737;
      }
    }
  }
  .catigorie{
    padding: 10px 0;
    i{
      color: #fff;
      background-color: #373737;
      padding: 10px;
      border-radius: 5px;
      font-size: 8px;
    }
    a{
      color: #fff;
    }
  }
}

